@{
    ViewBag.Title = "Lunch Box";
}

<div ng-controller="OrderController">
    <div>
        <input style="max-width: 150px" type="text" name="userName" class="form-control" placeholder="Your name" ng-model="userName" ng-change="saveUserName()" />
    </div>
    <table class="table" style="width: auto">
        <thead>
            <tr>
                <th style="width: 1px">Order</th>
                <th style="width: 250px" >Course</th>
                <th style="width: 100px" class="text-right">Price</th>
                <th style="width: 100px" class="text-right">Add-on</th>
                <th style="width: 200px">Diners</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="courseOrder in courseOrders">
                <td>
                    <button ng-show="canAddDiner(courseOrder)" type="button" class="btn btn-link" ng-click="addDiner(courseOrder)"><span class="glyphicon glyphicon-check text-success"></span></button>
                    <button ng-show="canRemoveDiner(courseOrder)" type="button" class="btn btn-link" ng-click="removeDiner(courseOrder)"><span class="glyphicon glyphicon-remove-circle text-danger"></span></button>
                </td>
                <td>
                    <p class="form-control-static">{{courseOrder.Name}}</p>
                </td>
                <td class="text-right">
                    <p class="form-control-static">{{courseOrder.Price | currency}}</p>
                </td>
                <td class="text-right">
                    <p class="form-control-static">{{courseOrder.Price - 7000 | currency}}</p>
                </td>
                <td>
                    <ul ng-show="courseOrder.Diners.length > 0" class="form-control-static list-unstyled">
                        <li ng-repeat="diner in courseOrder.Diners">
                            {{diner}}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/Scripts/_site/app.js"></script>
}